.Main {
    
    & h1 {
        margin: 1rem;
        text-shadow: 3px 2px 5px rgba(161, 8, 161, 0.733);
        font-size: 2rem;
    }

    & p {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 4rem;
        text-indent: 10px;
        text-shadow: 2px 2px 10px rgba(203, 124, 255, 0.959);
        max-width: 900px;
        font-size: 1.5rem;
    }
}

.PageNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 10rem);

    & h1 {
        font-size: 10rem;
    }

    & h2 {
        font-size: 3rem;
    }
}