.Verificacao {

    & .info_ver {
        background-color: rgb(108, 37, 136);
        width: 22.5rem;
        box-shadow: 2px 1px 10px rgba(255, 255, 255, 0.301);
        border-radius: 15px;
        display: flex;
        padding: 15px;
        margin: 1rem;

        & p {
            margin-bottom: 2px;
            font-size: 1.2rem;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
        }
    }

    & div_icons{
        border: 2px dashed green;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.div_icons div {
background-color:rgb(0, 110, 255);
}